<img style="float:left" width="70%" src="pics/escudo_COLOR_1L_DCHA.png">
<img style="float:right" width="15%" src="pics/PythonLogo.svg">
<br style="clear:both;">


# Minería de datos

<h2 style="display: inline-block; padding: 4mm; padding-left: 2em; background-color: navy; line-height: 1.3em; color: white; border-radius: 10px;">Práctica 4.1: Experimentos en Sklearn Parte 1</h2>

## Docentes

 - José Francisco Diez Pastor

<a id="index"></a>
## Tabla de contenidos del notebook

1. [Introducción](#intro)
2. [Carga de datos](#datos)
3. [Experimentos](#experimentos)
4. [Resultados](#resultados)

## Introducción <a id="intro"></a><a href="#index"><i class="fa fa-list-alt" aria-hidden="true"></i></a>

Esta práctica final está dividida en partes porque aún no se han visto todos los conceptos necesarios para mandar el enunciado final.

El notebook a entregar no será este, sino el definitivo que se obtendrá después de las explicaciones y tareas presentadas en la parte final.

La práctica se tratará de una experimentación utilizando los conjuntos de datos de Sklearn.

En pasos siguientes veremos como usar el algoritmos implementado `Regresión Logistica` para usarlo dentro del propio Sklearn.

## Carga de datos <a id="datos"></a><a href="#index"><i class="fa fa-list-alt" aria-hidden="true"></i></a>

En la biblioteca Sklearn tenemos los siguientes conjuntos de datos de clasificación.

- Iris
    -  load_iris()
- MNIST 
    - load_digits()    
- Wine
    - load_wine()    
- breast_cancer
    - load_breast_cancer()

## Tarea 1

Carga los datos de una forma relativamente automatizada.

Recuerda que en Python las funciones son elementos de primer nivel y se pueden guardar en listas si así lo deseas.

Crea una tabla que tenga 4 filas, una por dataset y tenga como columnas:
- Número de ejemplos.
- Número de atributos.
- Número de clases
- Ratio de desequilibrio (tamaño de la clase más pequeña / tamaño de la clase más grande)

In [8]:
'''
Pista

Usar funciones en una lista, como si se tratase de cualquier otro tipo de datos.

'''
%matplotlib inline
from sklearn import datasets
def carga_datos1():
    return datasets.load_iris()
def carga_datos2():
    return datasets.load_digits()
def carga_datos3():
    return datasets.load_wine()
def carga_datos4():
    return datasets.load_breast_cancer()

lista_carga_datos = [carga_datos1, carga_datos2, carga_datos3,carga_datos4]

for f in lista_carga_datos:
    datos = f()
    print("Número de ejemplos: " , len(datos.data))
    print("Número de atributos: " , len(datos.feature_names))
    print("Número de clases: " , len(datos.target_names))
    print("Ratio de desequilibro: " , datos.target)

Número de ejemplos:  150
Número de atributos:  4
Número de clases:  3
Ratio de desequilibro:  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]
Número de ejemplos:  1797
Número de atributos:  64
Número de clases:  10
Ratio de desequilibro:  [0 1 2 ... 8 9 8]
Número de ejemplos:  178
Número de atributos:  13
Número de clases:  3
Ratio de desequilibro:  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2]
Número de ejemplos:  569
Número de atributos:  30
Número de clases:  2
Ratio de desequilibro:  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 1 0 1 1 1 1 1 0 0 1 0 0 1 1 1 1 0 1 0 0 1 1 1 1 0 1 0 0
 1 0 1 0 0 1 1 1 0 0 1 0 0 0 1 1 1 0 1 1 0 0 1 1 1 0 0 1 1 1 1 0 1 1 0 1 1
 1 1 1 1 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 1 0 0 1 0 0 1 1 0 1 1 0 1 1 1 1 0 1
 1 1 1 1 1 1 1 1 0 1 1 1 1 0 0 1 0 1 1 0 0 1 1 0 0 1 1 1 1 0 1 1 0 0 0 1 0
 1 0 1 1 1 0 1 1 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 1 1 0 0 1 1
 1 0 1 1 1 1 1 0 0 1 1 0 1 1 0 0 1 0 1 1 1 1 0 1 1 1 1 1 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 1 1 1 1 1 0 1 0 1 1 0 1 1 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 0 1 1 1 1 0 0 0 1 1
 1 1 0 1 0 1 0 1 1 1 0 1 1 1 1 1 1 1 0 0 0 1 1 1 1 1 1 1 1 1 1 1 0 0 1 0 0
 0 1 0 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1 0 1 1 0 0 1 1 1 1 1 1 0 1 1 1 1 1 1
 1 0 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1 0 1 1 1 1 1 0 1 1
 0 1 0 1 1 0 1 0 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 1 1 1 0 1 0 1 1 0 1 1 1 1 1 0 0 1 0 1 0 1 1 1 1 1 0 1 1 0 1 0 1 0 0
 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 0 0 0 0 0 1]

## Experimentos <a id="experimentos"></a><a href="#index"><i class="fa fa-list-alt" aria-hidden="true"></i></a>

## Tarea 2

- Realiza experimentos con una batería de 6 algoritmos, 1 sería Random Forest con 100 árboles y los otros 5 a tu elección.

- Usa validación cruzada de 5 folds.

- Obten el accuracy de cada método para cada conjunto de datos.

- Crea una tabla de 4 x 6, con el accuracy de cada método.

## Resultados <a id="resultados"></a><a href="#index"><i class="fa fa-list-alt" aria-hidden="true"></i></a>

## Tarea 3

Determina cual es el mejor algoritmo de manera *global*

Vamos a usar para ello el método del ranking promedio.

En ese método se ordenan los algoritmos de acuerdo a su desempeño y se les dan puntos según el lugar que ocupan, al algoritmo con mejor desempeño se le da 1 punto, al segundo mejor 2, si hay dos métodos empatados se reparten los puntos etc.

El ranking promedio es la media de los rankings obtenidos para cada conjunto de datos.

Calcula el ranking promedio de cada método.

In [7]:
import pandas as pd

df_results = pd.DataFrame({"Método 1":[0.9,0.95,0.99,0.85],
              "Método 2":[0.91,0.94,0.9,0.85],
              "Método 3":[0.92,0.84,0.8,0.81]})
df_results

   Método 1  Método 2  Método 3
0      0.90      0.91      0.92
1      0.95      0.94      0.84
2      0.99      0.90      0.80
3      0.85      0.85      0.81

In [11]:
# En pandas hay un método rank que nos facilita mucho el trabajo
df_results.rank(axis=1, ascending = False)

   Método 1  Método 2  Método 3
0       3.0       2.0       1.0
1       1.0       2.0       3.0
2       1.0       2.0       3.0
3       1.5       1.5       3.0